[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
